:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #2ad0db;
  background-color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #1eaab4 !important;
  text-decoration: inherit;
}
a:hover {
  color: #2ad0db !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1eaab4;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.chakra-heading {
  color: #2ad0db;
}

.chakra-link {
  text-decoration: none;
}

.chakra-link:hover {
  text-decoration: none !important;
}

.chakra-input:focus-visible,
.chakra-textarea:focus-visible {
  border-color: #1eaab4 !important;
  box-shadow: 0 0 0 2px #1eaab4 !important;
}

.chakra-button {
  background-color: #1eaab4 !important
}

.chakra-button:hover {
  border-color: #f7931a;
  background-color: #f7931a !important
}

.link-button {
  color: white !important;
}

.link-button:hover {
  color: white !important;
}

.bitcoin-icon:hover {
  color: #f7931a;
}

/*
bright: #1eaab4
muted: #2ad0db
btc orange; #f7931a
*/